@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html {
	font-size: 10px;
	font-family: "Source Sans Pro", sans-serif;
}

.footer {
	flex: 0 1 70px;
	background-color: #161722;
	padding: 30px;
	width: 100%;
}
.block__container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 30px;
}

.block__item {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	color: #fff;
}
.first {
	flex: 1 1 33.333%;
}

#copy {
	margin: 10px 0 0 0;
}

.first__text_ontainer {
}

.lower__title {
	color: #df9679;
	font-size: 2.5rem;
}
.second__text_ontainer {
	margin: 20px 0 0 0;
}
.link {
	width: max-content;
	display: block;
	color: #fff;
}
.second {
	flex: 1 1 33.333%;
}
.columns {
	display: flex;
	align-items: flex-start;
}

.first__block {
	display: none;
}

@media screen and (min-width: 985px) {
	.first__block {
		display: block;
	}
}

.columns__item {
	flex: 1 1 50%;
}
.title__low {
	font-size: 2rem;
}
.quick_novigator {
	margin: 20px 0 0 0;
}
.novigator__item {
	font-size: 1.2rem;
	line-height: 20px;
	text-transform: uppercase;
	opacity: 0.7;
}
.massanger__container {
	margin: 20px 0 0 0;
	display: flex;
	gap: 10px;
}
.massanger__link {
}
.third {
	display: none;
}

.form__container {
	display: flex;
	align-items: center;
}
.input__item {
	width: 240px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 12px 5px 5px 12px;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
}
.email:focus {
	box-shadow: 0 0 5px #fff;
	border: none;
}
.form__container > button {
	width: 136px;
	height: 50px;
	border-radius: 5px 12px 12px 5px;
	background-color: #ffd2a4;
	text-transform: uppercase;
	font-weight: 600;
}

.white {
	width: 90%;
	overflow: hidden;
	line-height: 34px;
}

@media screen and (min-width: 760px) {
	.block__container {
		flex-direction: row;
	}

	.first {
		flex: 1 1 40%;
	}
	.second {
		flex: 1 1 20%;
	}
	.third {
		flex: 1 1 40%;
		justify-content: flex-end;
	}

	.input__item {
		width: 300px;
	}

	form > button {
		width: 170px;
	}

	.second__block {
		padding-left: 20px;
	}
}

@media screen and (min-width: 425px) {
	.third {
		flex: 1 1 33.333%;
		display: flex;
		align-items: center;
	}

	.limit__container {
		width: 90%;
		height: 140px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.limit__container > .white {
		color: #fff;
	}
}
