<div class="footer">
	<div class="container">
		<div class="block__container">
			<div class="block__item first">
				<div class="first__text_ontainer">
					<div class="lower__title">
						{finsweet
					</div>
					<div id="copy" class="title__low">
						&copy;COPYRIGHT FINSWEET 2022
					</div>
				</div>
				<div class="second__text_ontainer">
					<a href="callto:(480)555-0103" class="link">(480)555-0103</a>
					<a href="emailto:finsweet@example.com" class="link">finsweet@example.com</a>
					<a class="link">4517 Washington Ave.</a>
				</div>
			</div>
			<div class="block__item second">
				<div class="columns">
					<div class="columns__item first__block">
						<div class="title__low">
							Quicklinks
						</div>
						<ul class="quick_novigator">
							<li class="novigator__item">About us</li>
							<li class="novigator__item">sermons</li>
							<li class="novigator__item">events</li>
							<li class="novigator__item">blog</li>
						</ul>
					</div>
					<div class="columns__item second__block">
						<div class="title__low">
							connect
						</div>
						<ul class="massanger__container">
							<a class="massanger__link" href="#"><img src="/public/images/Vector.svg"></a>
							<a class="massanger__link" href="#"><img src="/public/images/Vector_2.svg"></a>
							<a class="massanger__link" href="#"><img src="/public/images/Vector_3.svg"></a>
						</ul>
					</div>
				</div>
			</div>
			<div class="block__item third">
				<div class="limit__container">
					<div class="lower__title white">
						Subscribe to get Latest Updates and News
					</div>
					<form action="#">
						<div class="form__container">
							<input type="email" class="input__item email" placeholder="Yourmail@gmail.com">
							<button type="submit">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<script src="/public/js/footer.js"></script>