<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/55b2d63d60.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://kit.fontawesome.com/55b2d63d60.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="shortcut icon" href="/public/images/2884797_church_love_wedding_icon.ico" type="image/x-icon">
	<title>Sermon</title>
</head>