<div class='header'>
	<div class='header__background'>
		<div class='container'>
			<div class='header__container'>
				<div class='header__title container__item'>{finsweet</div>
				<form action="/" method="post"  class='navigation container__item'>
					<ul class='header__menu_list'>
						<button class='list__item' type="submit">home</button>
						<button class='list__item' type="submit">about us</button>
						<button class='list__item' type="submit">sermon</button>
						<button class='list__item' type="submit">blog</button>
					</ul>
				</form>
				<form action="/" method="post" class="container__item">
					<button type="submit">Contuct Us</button>
				</form>
			</div>
		</div>
	</div>
</div>