<div class="main">
	<div class=" main__container section_first">
		<div class="container">
			<div class="text__width">
				<div class="lower__title">
					welcome to our church
				</div>
				<div class="big__title">
					become a part of our community
				</div>
				<form action="/" method="post">
					<button type="submit">learn more</button>
				</form>
				<p class="main__text">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure, similique nesciunt asperiores magni quia
					cupiditate!
				</p>
			</div>
		</div>
	</div>
	<div class=" container">
		<section class="cards">
			<div class="info__cards">
				<div class="above__title">sub-headline</div>
				<div class="cards__title">a church that's relevant</div>
				<div class="cards__container">
					<div class="cards__item">
						<div class="cards__item_img"></div>
						<div class="cards__item_text">
							<div class="black__low_title">
								About us
							</div>
							<div class="main__text_card">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut saepe repudiandae assumenda sequi
								amet sit. Eum earum sint ad vel, cumque labore officiis rem molestiae sit dignissimos maxime in!
							</div>
						</div>
					</div>
					<div class="cards__item">
						<div class="cards__item_img"></div>
						<div class="cards__item_text">
							<div class="black__low_title">
								Get involved
							</div>
							<div class="main__text_card">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut saepe repudiandae assumenda sequi
								amet sit. Eum earum sint ad vel, cumque labore officiis rem molestiae sit dignissimos maxime in!
							</div>
						</div>
					</div>
					<div class="cards__item">
						<div class="cards__item_img"></div>
						<div class="cards__item_text">
							<div class="black__low_title">
								Giving back
							</div>
							<div class="main__text_card">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut saepe repudiandae assumenda sequi
								amet sit. Eum earum sint ad vel, cumque labore officiis rem molestiae sit dignissimos maxime in!
								lorem
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="info">
			<div class="above__title">sub-headline</div>
			<div class="cards__title">Love and Compassion</div>
			<div class="main__text_card text__info">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni aut optio dolorum expedita omnis vel iure cupiditate quisquam ratione similique ut iste, ad earum consequatur officia ea alias dolorem minima dolores eveniet exercitationem ipsum maiores atque dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut excepturi dolores nihil, quo tempore aliquam praesentium inventore! Fugiat aliquam ducimus a ullam molestias. Vero enim dolor officiis, exercitationem deserunt esse.
			</div>
			<div class="cards__container_info">
				<form action="/" method="post">
					<button type="submit" class="positioned_btn">read more</button>
				</form>
				<div class="info__box">
					<img src="/public/images/a-bearded-man-praying-5206040.svg" class="info__box_img">
					<img src="/public/images/man-and-woman-reading-book-while-sitting-on-pews-8468470.svg" class="info__box_img bogger__img">
					<img src="/public/images/people-sitting-on-brown-pews-8674151.svg" class="info__box_img">
				</div>
			</div>
			<div class="text__box_info">
				<div class="box__lower_title">our mission & vision</div>
				<div class="cards__title lower">celebrate WITH US</div>
				<div class="main__text_card">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, error!
				</div>
				<form action="/" method="post">
					<input type="submit" value="readmore">
					<img src="/public/images/Shape.svg">
				</form>
			</div>
		</section>
	</div>
</div>